

.mainContacte{
    display: flex;
    align-items: space-evenly;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    padding: 10rem 10rem;
}

.firstDiv{
    display: flex;
    width: 100%;
}
.secondDiv {
    padding-top: 5rem;
    display: flex;
}
.formWrapper{
    flex: 1;
}
.mapWrapper{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    
}

.contactTitle{
    flex: 2;
}

.infoWrapper{
    flex: 1;
    justify-content: flex-end;
    text-align: end;
    gap: 3rem;
}

.infoText{
    font-size: 1.4rem;
    font-weight: lighter;
}

.map{
    border: 0;
}

.form{
    display: flex;
    flex-direction: column ;
    width: 25rem;
}
.input{
    padding: .5rem;
    border: none;
    border-bottom: 1px solid black;
}
.namemail{
    display: flex;
    gap: 2rem;
}
.label{
    margin-bottom: 1rem;
}
.messageBox{
    height: 6rem;
    border: none;
    max-width: 300px;
    border-bottom: 1px solid black;
    resize: none;
    box-sizing: border-box;
}
.messageBox::placeholder{
    padding-left: .5rem;
    padding-top: .5rem;
}

.message{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}
.submit{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    width: max-content;
}
.submit:hover{
    border-bottom: 1px solid black;
    
    cursor: pointer;
}
.submitButton{
    border: none;
    padding: .5rem 2rem .5rem 0rem;
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
}
.submitButton:hover{
    cursor: pointer;
    font-weight: bolder;
}

@media (max-width: 1200px) {
    .firstDiv, .secondDiv{
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
    }
    .infoWrapper{
        flex: 1;
        justify-content: flex-start;
        text-align: start;
        gap: 3rem;
    }
  
  }

  @media (max-width: 900px) {
    .mainContacte{
        padding: 10rem 5rem;
    }
  }

  @media (max-width: 750px) {
    .mainContacte{
        padding: 10rem 5rem;
    }
    .map{
        width: 400px;
        height: 275px;
    }
  }

  @media (max-width: 500px) {
    .mainContacte{
        padding: 10rem 2rem;
    }
    .map{
        width: 80%;
        height: 225px;
    }
    .mapWrapper{
        justify-content: center;
    }
  }

  @media (max-width: 400px) {
    .namemail{
        flex-direction: column;
    }
    .contactTitle{
        font-size: 3rem;
    }
  }



