@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --grey-text: #8d8d8d;
}

html {
  font-size: 100%; /* 100% = 16px */
}
h1 {
  font-size: 3.4em; /* 2.197 × 16px = 35px; obtenido de (1.3)³em */
}
h2 {
  font-size: 2.4em; /* 1.69em × 16px = 27px; obtenido de 2.197/1.3 */
}
h3 {
  font-size: 1.4em; /* 1.3em × 16 = 21px; obtenido de 1.69/1.3 */
}
small,
.small {
  font-size: 0.77em; /* 0.77em × 16 = 12.32px; obtenido de 1/1.3 */
}
@media (max-width: 700px) {
  html {
    font-size: 0.85em; /* 16px */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Metrophobic", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #181818;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
