.main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

/*--------------------------------------------------------*/
/*-----------------------HOME CAROUSEL--------------------*/
/*--------------------------------------------------------*/
.homeHeader {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.homeCarouselImg {
  object-fit: cover;
  filter: contrast(0.8);
}

.headerTitleWrapper {
  display: flex;
  flex-direction: column;
  z-index: 30;
  position: absolute;
  left: 5rem;
  top: 30vh;
  color: white;
  gap: 2rem;
  border-left: 2px solid white;
  padding-left: 2rem;
}
.headerTitleWrapper > h1 {
  display: flex;
  flex-direction: column;
}

/*--------------------------------------------------------*/
/*-----------------------SECTION TITLE--------------------*/
/*--------------------------------------------------------*/
.sectionTitleWrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}
.sectionTitle {
  margin-right: 2rem;
}
.moreInfo {
}
.actionWrapper {
  display: flex;
}
.actionWrapper:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
/*--------------------------------------------------------*/
/*-----------------------HOME REASONS---------------------*/
/*--------------------------------------------------------*/

.homeReasons {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem 10rem 10rem 10rem;

  /* gap: 4rem; */
}
.reasonsWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 5rem;
  row-gap: 5rem;
  grid-template-rows: 50% 50%;
  margin-bottom: 5rem;
}

/*--------------------------------------------------------*/
/*-----------------------HOME PORTFOLIO-------------------*/
/*--------------------------------------------------------*/

.homePortfolio {
  padding: 0rem 10rem 10rem 10rem;
  min-height: 100vh;
  width: 100%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
  .sectionTitleWrapper {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}
@media (max-width: 1000px) {
  .reasonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .homeReasons {
    padding: 5rem 8rem;
  }
}

@media (max-width: 500px) {
  .homeReasons {
    padding: 2rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1000px) {
}

/*PORTFOLIO GRID*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1% 1%;
  grid-template-areas:
    "box0 box2 box4"
    "box1 box3 box5"
    ". . .";
  height: 65vh;
}

.box0 {
  grid-area: box0;
  height: 140%;
  position: relative;
}

.box1 {
  align-self: end;
  grid-area: box1;
  height: 60%;
  position: relative;
}

.box2 {
  align-self: start;
  grid-area: box2;
  height: 60%;
  position: relative;
}

.box3 {
  align-self: end;
  grid-area: box3;
  height: 140%;
  position: relative;
}

.box4 {
  grid-area: box4;
  position: relative;
  height: 150%;
  align-self: start;
}

.box5 {
  grid-area: box5;
  height: 50%;
  position: relative;
  align-self: end;
}

.projectImg {
  object-fit: cover;

  position: relative;
}

.projectTitle {
  font-size: 2rem;
  color: white;
  position: absolute;
  left: 1.2rem;
  bottom: 1.2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.projectImg:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.projectWrapper:hover .projectTitle {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.box0:hover .projectTitle {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.box1:hover .projectTitle {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.box2:hover .projectTitle {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.box3:hover .projectTitle {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.box4:hover .projectTitle {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.box5:hover .projectTitle {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.box0:hover,
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover {
  cursor: pointer;
}

.embla {
  overflow: hidden;
  height: 100vh;
}
.emblaContainer {
  display: flex;
  height: 100%;
}
.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
  z-index: 5;
  position: relative;
  margin-right: 1rem;
}

@media (max-width: 800px) {
  .embla {
    height: 60vh;
  }
  .homeHeader {
    height: 60vh;
  }
  .headerTitleWrapper {
    font-size: 0.6rem;
    top: 20vh;
    gap: 1.5rem;
  }
}

@media (max-width: 475px) {
  .headerTitleWrapper {
    font-size: 0.5rem;
    left: 2.5rem;
    padding-left: 1rem;
  }
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .box0,
  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 500px) {
  .homePortfolio {
    padding: 2rem;
  }
}
