.main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

/*--------------------------------------------------------*/
/*-----------------------HOME CAROUSEL--------------------*/
/*--------------------------------------------------------*/
.homeHeader{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.homeCarouselImg{
  object-fit: cover;
}

/*--------------------------------------------------------*/
/*-----------------------SECTION TITLE--------------------*/
/*--------------------------------------------------------*/
.sectionTitleWrapper{
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}
.sectionTitle{

}
.moreInfo{

}
.actionWrapper{
  display: flex;
}
.actionWrapper:hover{
  border-bottom: 1px solid black;
  cursor: pointer;
}
/*--------------------------------------------------------*/
/*-----------------------HOME REASONS---------------------*/
/*--------------------------------------------------------*/

.homeReasons{
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem 10rem 10rem 10rem;
  
  /* gap: 4rem; */
}
.reasonsWrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 5rem;
  row-gap: 5rem;
  grid-template-rows: 50% 50%;
  margin-bottom: 5rem;
}

/*--------------------------------------------------------*/
/*-----------------------HOME PORTFOLIO-------------------*/
/*--------------------------------------------------------*/

.homePortfolio{
  padding: 0rem 10rem 10rem 10rem;
  min-height: 100vh;
  width: 100%;
  border: 1px solid black;
}





/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

/* Mobile */
@media (max-width: 700px) {
  .sectionTitleWrapper{
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

}
@media (max-width: 1000px) {
  .reasonsWrapper{
   display: flex;
   flex-direction: column;
   gap: 3rem;
  }
  .homeReasons{
    padding: 5rem 8rem;
  }
}

@media (max-width: 500px) {
  .homeReasons{
   padding: 2rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1000px) {
}







/*PORTFOLIO GRID*/

.container {  
  display: grid;
  grid-template-columns: 1.25fr 1.25fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "one three five six"
    "two four seven seven"
    ". . . .";
    height: 100vh;
    
}

.one {
  grid-area: one;
  height: 140%;
  border: 1px solid black;
}

.two {
  align-self: end;
  grid-area: two;
  height: 60%;
  border: 1px solid black;
}

.three {
  align-self: start;
  grid-area: three;
  height: 60%;
  border: 1px solid black;
}

.four {
  align-self: end;
  grid-area: four;
  height: 140%;
  border: 1px solid black;
}

.five { grid-area: five;
  border: 1px solid black; }

.six { grid-area: six; 
  border: 1px solid black;}

.seven { grid-area: seven; 
  border: 1px solid black;}

