.mainProjectes {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 60px;
}

.contentWrapper {
  max-width: 1490px;
  margin: 10rem 2rem 0 2rem;
}

.projectsWrapper {
  display: grid;
  margin-top: 5rem;

  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.projectWrapper {
  max-width: 450px;
  overflow: hidden;
  position: relative;
  -webkit-filter: brightness(100%);
}
.projectWrapper:hover {
  cursor: pointer;
}
.projectImg {
  object-fit: cover;
}
.projectImg:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.projectWrapper:hover .projectTitle {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.projectTitle {
  font-size: 2rem;
  color: white;
  position: absolute;
  left: 1.2rem;
  bottom: 1.2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.detailImgCarousel {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  overflow: hidden;
}

.projectDetailImg {
  border-radius: 0rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.detailText {
  width: 50%;
  z-index: 5;
  padding: 3rem 1rem;
}

.detailDescription,
.detailDate {
  margin-top: 2rem;
}

.controls {
  position: absolute;
}

.prevBtn,
.nextBtn {
  background-color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  color: #181818;
}
.prevBtn:hover,
.nextBtn:hover {
  background-color: #181818;
  color: white;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0;
  right: 2rem;
  z-index: 10;
  cursor: pointer;
  font-size: 4rem;
  font-weight: bold;
  margin: 0.5rem;
  margin-top: 0;
  padding-top: 0;
}

.popupContentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*@media (max-width: 1300px) {
  .mainProjectes {
    padding: 10rem 5rem;
  }
}*/

@media (max-width: 1150px) {
  .projectsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .projectImg {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }
}
@media (max-width: 700px) {
  .projectsWrapper {
    grid-template-columns: 1fr;
  }
  .projectImg {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 450px) {
  .projectImg {
    width: 275px;
    height: 275px;
    object-fit: cover;
  }
}

@media (max-width: 1150px) {
  .popupContentWrapper {
    flex-direction: column;
    height: fit-content;
  }
  .detailImgCarousel {
    height: 375px;
    width: 100%;
  }
  .detailText {
    width: 100%;
  }
  .popup-content {
    height: fit-content;
  }
}

@media (max-width: 550px) {
  .detailImgCarousel {
    width: 100%;
    height: 275px;
  }
}
